-
  var nav = [
    {
      name: "Gmail",
      link: "https://gmail.com"
    },
    {
      name: "Yandex",
      link: "https://yandex.ru"
    },
    {
      name: "Yahoo",
      link: "https://yahoo.com"
    },
    {
      name: "Outlook",
      link: "https://outlook.com"
    },
    {
      name: "Mail.ru",
      link: "https://mail.ru"
    },
    {
      name: "Other",
      link: "/other.html"
    },
    {
      name: "Contacts",
      link: "/contacts.html"
    }
  ]

  var hots = ["A Day and Night Difference or Nothing Special? Ethereum Futures Are Coming Soon", "Google’s Amir Sarhangi Joins Ripple", "HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes", "Where Is Bitcoin Going in the Near Future? Experts Weigh In", "Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise"]

  var server = [
    {
      email: "Gmail",
      amount: "2,200,302"
    },
    {
      email: "Outlook",
      amount: "2,200,302"
    },
    {
      email: "Yandex",
      amount: "2,200,302"
    },
    {
      email: "Mail.ru",
      amount: "2,200,302"
    },
    {
      email: "Hotmail",
      amount: "2,200,302"
    },
    {
      email: "MSN",
      amount: "2,200,302"
    },
    {
      email: "Gmail",
      amount: "2,200,302"
    },
    {
      email: "Outlook",
      amount: "2,200,302"
    },
    {
      email: "Gmail",
      amount: "2,200,302"
    },
    {
      email: "Outlook",
      amount: "2,200,302"
    },
    {
      email: "Gmail",
      amount: "2,200,302"
    },
    {
      email: "Outlook",
      amount: "2,200,302"
    },
  ]

  var interests = [
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    },
    {
      email: "mikle.robinson@gmail.com",
      name: "Finance, Adult"
    },
    {
      email: "sarah-johnson@gmail.com",
      name: "Gambling"
    }
  ]

  var interest_group = [
    {
      name: "Finance and investing",
      amount: "500,376"
    },
    {
      name: "Real estate",
      amount: "120,336"
    },
    {
      name: "Gambling and casino",
      amount: "120,336"
    },
    {
      name: "Finance and investing",
      amount: "500,376"
    },
    {
      name: "Real estate",
      amount: "120,336"
    },
    {
      name: "Gambling and casino",
      amount: "120,336"
    }
  ]

  var server_group = [
    {
      name: "Gmail",
      amount: "500,376"
    },
    {
      name: "Yandex.mail",
      amount: "120,336"
    },
    {
      name: "Mail.ru",
      amount: "120,336"
    },
    {
      name: "Outlook",
      amount: "500,376"
    },
    {
      name: "MSN",
      amount: "120,336"
    },
    {
      name: "Yahoo",
      amount: "120,336"
    }
  ]







