.pagination
    .pagination__title Pages:
    ul.pagination__list
        li.pagination__item
            button.btn.btn--light.pagination--btn 1
        li.pagination__item
            button.btn.btn--light.pagination--btn 2
        li.pagination__item
            button.btn.btn--light.pagination--btn 3
        li.pagination__item
            button.btn.btn--light.pagination--btn Last